@{
    ViewBag.Title = "Home Page";
}

 
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            @TempData["msg"]
        </p>
        <p>
            @Html.ActionLink("Change Password", "ChangePassword", "Register")
        </p>
    </div>
      
</div>